# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
gunicorn
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
flask==2.0.2
